<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Hojas de Vida</title>
</head>
<body>
    <div id = "contenido">
        <header>
            <hgroup>
                <h1>Menu</h1>
            </hgroup>
            <nav>
                <ul>
                    <li><a href="{{ url_for('Menu')}}">Inicio</a></li>
                    <li><a href="{{ url_for('Diego1')}}">Diego</a></li>
                    <li><a href="{{ url_for('David1')}}">David</a></li>
                    <li><a href="{{ url_for('Fabian1')}}">Fabian</a></li>
                </ul>
            </nav>
        </header>
        
    </div>
    
</body>
</html>