<!DOCTYPE html>
<html lang = "es">
    <head>
        <title>Hoja de Vida</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static',filename ='estilosM.css')}}">
    </head>
    <body>
        <div id = "contenido">
            <header>
                <hgroup>
                    <h1>Hoja de Vida</h1>
                </hgroup>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('Menu')}}">Inicio</a></li>
                        <li><a href="{{ url_for('Diego1')}}">Diego</a></li>
                        <li><a href="{{ url_for('David1')}}">David</a></li>
                        <li><a href="{{ url_for('Fabian1')}}">Fabian</a></li>
                    </ul>
                </nav>
            </header>
            <section>
                <ul>
                    <div  id = "textoPrincipal">
                        <hgroup>
                            <h1>Bienvenidos al menu principal de nuestro grupo</h1>
                        </hgroup>
                        <article>
                            <p>
                                Conformado por Diego Nicolas Ramos Zamudio, Fabian Enrique Leon Junco , HÉCTOR DAVID ALEJANDRO PACHECO MORA.
                            </p>
                        </article>
                    </div>
                </ul> 
            </section>
        </div>
    </body>
</html>



