<!DOCTYPE html>
<html lang = "es">
    <head>
        <title>Hoja de Vida</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="estilos.css">
    </head>
    <body >
        <div id = "contenido2">
            <header>
                <hgroup>
                    <h1>Hoja de Vida</h1>
                </hgroup>
                <nav>
                    <ul>
                        <li><a href="Inicio.html">Inicio</a></li>
                        <li><a href="DatosBasicos.html">Datos Basicos</a></li>
                        <li><a href="DatosAcademicos.html">Datos Academicos</a></li>
                        <li><a href="DatosTecnologicos.html">Datos tecnologicos</a></li>
                    </ul>
                </nav>
            </header>
            <section>
                <ul>
                    <div id = "textoPrincipal3" >
                        <hgroup>
                            <h1>Datos Academicos</h1>
                        </hgroup>
                        <article>
                            <p> 
                                Como tal yo vivi la mayor parte de mi vida de Villavicencio por lo que mi primaria
                                y parte de secundaria la presente alli en el Colegio G*******, luego me mude a bogota
                                y curso hasta 11 en el colegio I*** ** ******, y en estos momentos me encuentro cursando
                                la educacion superior o pregrado en la universidad distrital.
                            </p>
                            <h2 style="text-align: center;">
                               Experiencia y Conocimientos
                            </h2>
                            <p style="text-align:justify">
                                Tengo Experiencia en Java, Python, C++, C#, HTML, PHP, JavaScript, Haskell, Oracle,
                                Excel, Word, Matlab, Restudios y demas, debido a mi participacion en la universidad
                                y diferentes cursos dados por la misma universidad con convenio de otras partes, e 
                                igualmente participante de la IEEE para mayor obtencion de conocimiento.
                            </p>
                            <p style="text-align:justify">
                                Mi experiencia en cada uno de los lenguajes no va mas halla de los problemas, talleres y actividades
                                de la universidad, dicho hasta ahora, es practicamente contado ya que no he tenido oportunidad de 
                                laboral con mi carrera, mas no obstante me hace competente con los resultados de cada uno de ellos
                                igualmente en las herramientas ofimaticas como lo son el paquete office es de bastante utilidad y 
                                basico en el conocimiento de un profesional   
                            </p>
                            <ul>
                                <li>Java</li>
                                <li>Python</li>
                                <li>Haskell</li>
                                <li>C++, C#</li>
                                <li>HTML</li>
                                <li>JavaScript</li>
                                <li>Angular</li>
                            </ul>
                        </article>
                    </div>
                </ul>
                
            </section>
            
        </div>
    </body>
</html>
