<!DOCTYPE html>
<html lang = "es">
    <head>
        <title>Hoja de Vida</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="estilos.css">
    </head>
    <body id="body2">
        <div id = "contenido2">
            <header>
                <hgroup>
                    <h1>Hoja de Vida</h1>
                </hgroup>
                <nav>
                    <ul>
                        <li><a href="Inicio.html">Inicio</a></li>
                        <li><a href="DatosBasicos.html">Datos Basicos</a></li>
                        <li><a href="DatosAcademicos.html">Datos Academicos</a></li>
                        <li><a href="DatosTecnologicos.html">Datos tecnologicos</a></li>
                    </ul>
                </nav>
            </header>
            <section>
                <ul>
                    <div id = "textoPrincipal2" >
                        <hgroup>
                            <h1>Datos Basicos</h1>
                        </hgroup>
                        <article>
                            <p> 
                                La Hoja de Vida es tu mejor utilidad para causar una buena impresión al posible empleador 
                                y por lo tanto, su elaboración debe ser muy cuidadosa de manera que resaltes las cualidades 
                                y aptitudes que tienes para ocupar el puesto ofrecido.
                            </p>
                            <h2 style="text-align: center;">
                               Presentacion
                            </h2>
                            <p style="text-align:justify">
                                Me llamo Diego soy estudiante de ingeniera y en estos momentos estoy cursando 6 semestre y
                                viendo la materia de Programacion avanzada con el profesor daza donde presentamos esta actividad
                                de html, tengo conocimiento en Java, Python, C++, C#, HTML, PHP, JavaScript, Haskell y demas.
                            </p>
                            <ul>
                                <li>DIEGO NICOLAS RAMOS ZAMUDIO</li>
                                <li>Edad: 19 Años</li>
                                <li>Soltero</li>
                                <li>Nacido en Villavicencio</li>
                                <li>Numero Telefonico: #########9.</li>
                                <li>Correo Personal: D#######@gmail.com</li>
                            </ul>
                        </article>
                    </div>
                </ul>
                
            </section>
            
        </div>
    </body>
</html>
