<!DOCTYPE html>
<html lang = "es">
    <head>
        <title>Hoja de Vida</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="estilos.css">
    </head>
    <body id="body2">
        <div id = "contenido2">
            <header>
                <hgroup>
                    <h1>Hoja de Vida</h1>
                </hgroup>
                <nav>
                    <ul>
                        <li><a href="Inicio.html">Inicio</a></li>
                        <li><a href="DatosBasicos.html">Datos Basicos</a></li>
                        <li><a href="DatosAcademicos.html">Datos Academicos</a></li>
                        <li><a href="DatosTecnologicos.html">Datos tecnologicos</a></li>
                    </ul>
                </nav>
            </header>
            <section>
                <ul>
                    <div id = "textoPrincipal4" >
                        <hgroup>
                            <h1>Datos Tecnologicos</h1>
                        </hgroup>
                        <article>
                            <p> 
                                En esta parte si me perdi y no se si se refiere a los titulos que uno obtiene durante su vida
                                y las referencias o si tengo pues conocimiento y uso de tecnologia por lo que supongo yo que
                                pues entonces tomare ambas
                            </p>
                            <h2 style="text-align: center;">
                               Titulos
                            </h2>
                            <p>
                                Bachiller, institucion I*** ** ******
                            </p>
                            <p>
                                Media Fortalecida, CISCO, institucion I*** ** ******
                            </p>
                            <P>
                                Curso Inteligencia Artificial, IBM Coursera
                            </P>
                            <P>
                                Curso Inteligencia Artificial avanzada, IBM Coursera
                            </P>
                            <p>
                                Curso JavaScript Udemy
                            </p>
                            <p>
                                Curso Fundamentos Ingenieria Software Adds
                            </p>
                            <p style="text-align: justify;">
                                    Recursos tecnologicos con los que he tenido cercania y conocimiento, claramente un computador, celular y calculadora
                                    pues estos son un gran aliado para el estudiante de ingenieria para estudiar y hacer trabajos ademas de ellos, pues los
                                    diferentes iddles de programacion y programas debido al contacto con ellos para aprender diferentes tipos de lenguas de 
                                    programacion, conocimiento de Linux en su expresion basica
                            </p>
                            <h2 style="text-align: center;">
                                Referencias
                            </h2>
                            <p>
                                Familiares
                                <ul>
                                    <li>****** ****** ***** ****, Madre</li>
                                    <ul>
                                        <li>************, Telefono</li>
                                        <li>****************, Correo</li>
                                    </ul>
                                    <li>********* ******** ******* *****, Padre</li>
                                    <ul>
                                        <li>************, Telefono</li>
                                        <li>****************, Correo</li>
                                    </ul>
                                </ul>
                            </p>
                            <p>
                                Personales
                                <ul>
                                    <li>****** ****** ***** ****, Amigo</li>
                                    <ul>
                                        <li>************, Telefono</li>
                                        <li>****************, Correo</li>
                                    </ul>
                                    <li>********* ******** ******* *****, Amigo Cercano</li>
                                    <ul>
                                        <li>************, Telefono</li>
                                        <li>****************, Correo</li>
                                    </ul>
                                </ul>
                            </p>
                            <p>
                                Laborales
                                <ul>
                                    <li>****** ****** ***** ****, Jefe1</li>
                                    <ul>
                                        <li>************, Telefono</li>
                                        <li>****************, Correo</li>
                                        <li>Inicio el dia **/**/** hasta **/**/**</li>
                                    </ul>
                                    <li>********* ******** ******* *****, Jefe2</li>
                                    <ul>
                                        <li>************, Telefono</li>
                                        <li>****************, Correo</li>
                                        <li>Inicio el dia **/**/** hasta **/**/**</li>
                                    </ul>
                                </ul>
                            </p>
                        </article>
                        <aside>
                            <p>Para mas informacion y deseo de firmar contrato contacte directamente con mis redes <a href= "" >Nota Positiva</a></p>
                        </aside>
                    </div>
                </ul>
                
            </section>
            
        </div>
    </body>
</html>
