<!DOCTYPE html>
<html lang = "es">
    <head>
        <title>Hoja de Vida</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="estilos.css">
    </head>
    <body>
        <div id = "contenido">
            <header>
                <hgroup>
                    <h1>Hoja de Vida</h1>
                </hgroup>
                <nav>
                    <ul>
                        <li><a href="Inicio.html">Inicio</a></li>
                        <li><a href="DatosBasicos.html">Datos Basicos</a></li>
                        <li><a href="DatosAcademicos.html">Datos Academicos</a></li>
                        <li><a href="DatosTecnologicos.html">Datos tecnologicos</a></li>
                    </ul>
                </nav>
            </header>
            <section>
                <ul>
                    <div  id = "textoPrincipal">
                        <hgroup>
                            <h1>Bienvenido</h1>
                        </hgroup>
                        <article>
                            <p> 
                                A una presentacion formal de un estudiante de ingenieria de sistemas 
                                de la Universidad Distrital Francisco Jose de Caldas.
                                Me presento.
                            </p>
                            <p>
                                Me llamo Diego Nicolas Ramos Zamudio
                            </p>
                            <p>
                                Codigo 20181020167
                            </p>
                        </article>
                        <aside>
                            <p>Visita la Universidad donde estudio que es re mela <a href= "https://www.udistrital.edu.co/inicio" target="_blank" >Universidad Distrital</a></p>
                        </aside>
                    </div>
                    <div  id ="img" >
                        <img style="width:400px;"style="height:400px;"  src="img/yo.jpg" >
                    </div>
                </ul>
                
            </section>
            
        </div>
    </body>
</html>
