<!DOCTYPE html>
<html lang="es">
    <head>
        <title>CV version pollito</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename ='estilo1.css')}}">
    </head>
    <body>
        <center><h1>Bienvenido usuario</h1></center>
        <center><h3> Hoja de vida </h3><table></center>
            <tr>
                <th class="resaltado">Nombre: </th>
                <td>Fabian Enrique Leon Junco</td>
                <td rowspan="2" colspan="2" style="background-color: #ffffff;"><img src="{{ url_for('static',filename ='imgs/Yo.jpg')}}" width="150me"></td>
            </tr>
            <tr>
                <th class="resaltado">Código:</th>
                <td>20171020015</td>
            </tr>
        </table>
        <nav>
            <center><table style="background-color: azure; width: 100%;"></center>
                <tr>
                    <th><a href="{{ url_for('Menu')}}">Principal</a></th>
                    <th>><a href="{{ url_for('Fabian2')}}">Datos básicos</a></th>
                    <th><a href="{{ url_for('Fabian3')}}">Datos académicos</a></th>
                    <th><a href="{{ url_for('Fabian4')}}">Datos tecnológicos</a></th>
                </tr>
            </table>
            
        </nav>
    </body>
</html>